.about-me-section {
    margin-top: 100px;
    padding: 60px 30px;
    background-color: #f0f0f0;
    text-align: center;
}

.about-me-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-me-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

@media screen and (max-width: 768px) {
    .about-me-section {
        padding: 30px 15px;
    }

    .about-me-section h2 {
        font-size: 28px;
    }

    .about-me-section p {
        font-size: 16px;
    }
    
}